<link rel="stylesheet" href="/css/partials/menu.css">
<header>
    <img src="/img/newsletter.png" alt="newsletter" height="60px">
    <h1>Cloud Newsteller</h1>
</header>
<section>
    <ul>
        <li><a class="navbar" href="http://localhost:80/uol/">UOL</a></li>
        <li><a class="navbar" href="http://localhost:80/r7/">R7</a></li>
        <li><a class="navbar" href="http://localhost:80/cnn/">CNN</a></li>
    </ul>
</section>